IP_ESCUCHA=127.0.0.1
IP_CPU=127.0.0.1
IP_KERNEL=127.0.0.1
PUERTO_DISPATCH_KERNEL=8033
PUERTO_ESCUCHA_KERNEL=8002
PUERTO_ESCUCHA_CPU=8049
PUERTO_DISPATCH_CPU=8055
TAM_MEMORIA=10240
TAM_PAGINA=256
ENTRADAS_POR_TABLA=4
RETARDO_MEMORIA=500
RETARDO_SWAP=100
ALGORITMO_REEMPLAZO=CLOCK-M
MARCOS_POR_PROCESO=4
PATH_SWAP=/HOME/utnso/swap
